body,
html,
#root {
  height: 100%;
  margin: 0;
}

body {
  background-color: hsl(210, 7%, 95%);
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Montserrat', 'Segoe UI', Oxygen-Sans,
    Ubuntu, 'Helvetica Neue', sans-serif;
}

@media print {
  body {
    background-color: white !important;
  }
}
